  .select {    
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
    overflow:hidden;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    color: #444;
    outline: none;
    border: 2px solid black;
    border-radius: 1em;
    background-color: #fff;
    box-sizing: border-box;
    padding: 12px;
    
  }