.header {
    &_main {
        position: sticky;
        top: 0;
        z-index: 101;
        background-color: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 10px 10px 10px #e2e1e1ab;
    }
    &_logo {
        cursor: pointer;
        img {
            width: 100px;
        }
    }
    &_menu {
        .nav_list {
            display: flex;
            list-style: none;
            align-items: center;
            .nav_item {
                margin: 0px 10px;
                a {
                    color: black;
                    text-decoration: none;
                    font-size: 18px;
                }
            }
        }
    }
}

.btn_menu {
    padding: 5px 5px 5px 12px;
    background: transparent;
    cursor: pointer;
    margin: 0;
    text-align: inherit;
    border: 1px solid grey;
    border-radius: 21px;
    transition: box-shadow 0.2s ease;
    position: relative;
    &::after{
        box-sizing: border-box;
    }
}

.searchBar { 
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .inputSearch{
        width: 400px;
        border: 1px solid ;
        border-radius: 40px;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
        transition: box-shadow 0.2s ease;
    
    }
    & > * {
        margin: auto 5px  !important;
    }
}
.filterContainer {
    display: flex;
    flex-direction: row;
    & > * {
        padding: 5px;
    }

   
}
.searchIcon {    
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(255,56,92,255);   
    color: white;
}

.addPlace{
    padding: 12px;
    border: 1px solid grey;
    border-radius: 21px;
    background-color: transparent;
    transition: box-shadow 1s;
    &:hover{
        cursor: pointer;
        box-shadow: 0 0 5px #515151;
    }
}

.modal{
    padding: 15px;
    z-index: 10000;
    background-color: white;
    border: gray 1px solid ;
    border-radius: 3%;
    color: black;
    position: fixed;
    width: 700px;
    height: 700px;
    left: 50%;
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    input{
        width: 100%;
    }
  }