
.leaflet-container {
    height: 500px;
    width: 90%;
    margin: auto;
    z-index: 50;
    div{
        text-align: center;
    }
    img{
        width: 80%;
        height: 50%;
    }
  }
  
  .leaflet-container a {
    color: #2c3e50;
  }
  
  .leaflet-container .leaflet-control-attribution,
  .leaflet-container .leaflet-control-scale {
    background: none;
    box-shadow: none;
  }
  
  .leaflet-container .leaflet-control-attribution a {
    font-size: 12px;
    text-align: center;
  }
  
  .leaflet-container .leaflet-control-scale-line {
    background: #1f1f1f;
    border: none;
  }
  
  .leaflet-container .leaflet-control-scale-line:not(:last-child) {
    border-right: 1px solid #2c3e50;
  }
  
  .btn_show_map {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    appearance: none !important;
    display: inline-flex !important;
    border-radius: 24px !important;
    border: 1px solid rgba(0, 0, 0, 0.08) !important;
    outline: none !important;
    margin: 0px !important;
    padding: 14px 19px !important;
    color: #FFFFFF !important;
    cursor: pointer !important;
    touch-action: manipulation !important;
    align-items: center !important;
    justify-content: center !important;
    box-shadow: none !important;
    // transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s !important;
    background: rgb(34, 34, 34) !important;
  }