.container_page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .container {
        display: flex;
        flex-direction: column;
        padding-inline: 10%;
        margin-top: 2%;
        .title {
            font-size: 1.5rem;
            font-weight: bold;
        }
        .info_content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 1% 0%;
            .rating_comment {
                display: inline-flex;
                align-items: center;
                & > * {
                    display: inline-flex;
                    padding: 8px 8px 8px 5px;
                    p {
                        align-self: center;
                    }
                }
            }
            .share_save {
                display: flex;
                flex-direction: row;
                & > * {
                    display: inline-flex;
                    padding: 8px 8px 8px 5px;
                    &:hover {
                        cursor: pointer;
                    }
                    p {
                        align-self: center;
                    }
                }
            }
        }
        .container_img {
            display: inline-flex;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            .main_img {
                padding: 0;
                margin: 0;
                width: 50%;
                height: 100%;
                img {
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .second_part {
            width: 50%;
            display: grid;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            grid-template-rows: 50% 50%;
            grid-template-columns: 50% 50%;
            gap: 1%;
            .thumbnail {
                width: 100%;
                height: 100%;
                padding: 0px 5px 5px 5px;
                img {
                    width: inherit;
                    height: inherit;
                }
            }
        }
        .section_detail {
            display: flex !important;
            flex-direction: row;
            align-items: stretch !important;
            justify-content: flex-start !important;
            flex-wrap: wrap !important;
            width: 100% !important;
            padding-top: 24px !important;
            padding-right: 24px !important;
            margin-left: auto !important;
            margin-right: auto !important;
            & > * {
                width: 50%;
            }
            .section_one{
                overflow-wrap: break-word;
            }
        }
        .container_booking_card{
            display: flex;
            justify-content: flex-end;
        }
    }
}
